<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
</head>
<body>
    <header class="cabecera">
        <div class="contenedor-cabecera">
            <div class="banner">
                <a href="/">
                    EduardoMusic
                </a>
            </div>
    </header>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi deleniti cumque nihil ipsam aperiam rem, voluptatem dicta, blanditiis inventore qui quibusdam perspiciatis? Alias ex quam dolor. Quisquam ratione fuga distinctio.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, rem. Vero iure quo qui ducimus mollitia, totam a eum corrupti molestiae voluptate, provident autem maxime ratione reprehenderit facere culpa cum.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, porro consequatur, facere sed magni doloremque, dolore iste enim perferendis fugit odio aliquid quae modi beatae id qui soluta iure laudantium.</p>
</body>
</html>